body {
    padding: 40px;
}

h1{
    font-family: Verdana, Arial, sans-serif;
}

label{
    font-family: Verdana, Arial, sans-serif;
}

.clean{
    background-color: #8cd98c
}

.low-risk{
    background-color: #ffffcc
}

.medium-risk{
    background-color: #ffdb99
}

.high-risk{
    background-color: #ff9999
}

.malicious{
    background-color: #ff4d4d
}

.unknown{
    background-color: #e0e0eb
}

