<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Threat Meta-File App</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'threats/tablesorter-blue-style.css' %}">
        <link rel="stylesheet" href="{% static 'threats/custom.css' %}">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>    
        <script type="text/javascript" src=" {% static 'threats/jquery.tablesorter.min.js' %} "></script>
    </head>
    <body>

    <h1> Threat Meta-Files </h1>
    <br><br>

    <label for="timeperiod">Time period: </label>
    <select name="timeperiod" id="timeperiod"> </select>   
    <button id="reloadtable"></button>

    <br><br>

    <label for="threattable">Choose a time period. Click table headers for sorting by column.</label>
    <table id="threattable" class="tablesorter">
        <thead id="tableheader"> </thead>
        <tbody id="tablebody"> </tbody>
    </table> 

    <script>
        var curr_data = '';
        var new_data = '';
        var curr_selection = '';
        var user_awareof_staledata = false;
        

        function get_data_url(selection){
            return '/threats/'.concat(selection);
        }

        function fetch_new_data(selection){
            $.getJSON(get_data_url(selection), function(data){
                curr_data = data;
                new_data = data;
                build_table(new_data);
            });
        }

        $('#reloadtable').button({
            "label": "Reload table",
        });
        $('#reloadtable').click(function(){
            build_table(new_data);
            user_awareof_staledata = false;
        });    

        $("#timeperiod").selectmenu({
            width:200,
            select: function(event, ui) {
                curr_selection = ui.item.value;
                fetch_new_data(curr_selection);        
                build_table(new_data);
            },
        });

        (function() {
            var time_periods = { "24h" : "24 hours", 
                                 "7d" : "7 days",
                                 "4w" : "4 weeks",
                               };
            for( var p in time_periods){
                $('#timeperiod').append('<option value="' + p + '">' + time_periods[p] + '</option>');
            }
            var option_index = 1;
            var option = (function(i){
                var k = Object.keys(time_periods)[i];
                return { "short" : k, "long" : time_periods[k] };
            })(option_index);
            $('#timeperiod').val(option["short"]);
            $('#timeperiod').selectmenu('refresh');
            curr_selection = option["short"];
            fetch_new_data(curr_selection);
            build_table(new_data);
        })();

        (function(){
            var headings = ["Date", "Filename", "Action", "Submit-Type", "Ratings"];
            var content = "<tr>";
            for(i in headings){
                content += "<th>" + headings[i] + "</th>";
            }
            content += "</tr>";
            $('#tableheader').append(content);
            $('#threattable').trigger("update");
        })();

        $.tablesorter.addParser({
            id: 'risks',
            is: function(s) {
                return false;
            },
            format: function(s) {
                return s.toLowerCase().replace(/clean/,0)
                                      .replace(/low-risk/,1)
                                      .replace(/medium-risk/,2)
                                      .replace(/high-risk/,3)
                                      .replace(/malicious/,4)
                                      .replace(/unknown/,5);
            },
            type: 'numeric'
        });

        $.tablesorter.addParser({
            id: 'date',
            is: function(s) {
                return false;
            },
            format: function(s){
                return s
            },
            type: 'text'
        });

        $("#threattable").tablesorter({
            theme: "blue",
            headers: {
                0: {
                    sorter:'date'
                },
                4: {
                    sorter:'risks'
                }
            },
        });

        function build_table(data){
            $('#tablebody').empty()
            if(jQuery.isEmptyObject(data)){
                $('#tablebody').append('<tr><td></td><td></td><td> No results </td><td></td><td></td></tr>');
            } else {
                $.each(data, function(i, item){
                    var row = "<tr>"
                            + "<td>" + item.date + "</td>"
                            + "<td>" + item.filename + "</td>"
                            + "<td>" + item.action + "</td>"
                            + "<td>" + item.submit_type + "</td>"
                            + "<td>" + item.rating + "</td>"
                            + "</tr>";
                    $('#tablebody').append(row)
                });
            }
            $("tr").each(function(){
                var risk = $(this).find("td:eq(4)").text();
                $(this).addClass(risk);
            });
            $('#threattable').trigger("update");
        }

        function refresh_data(){
            setTimeout(function(){
                $.ajax({ 
                        url: get_data_url(curr_selection),
                        dataType: "json",
                        complete: function(data){
                                    if(!user_awareof_staledata && !_.isEqual(curr_data, data.responseJSON)){
                                        alert("New data received. Reload the table.");
                                        user_awareof_staledata = true;
                                    }
                                    curr_data = new_data;
                                    new_data = data.responseJSON;
                                    refresh_data();
                              },
                        }
                );
            }, 5000);
        }
        
        $(document).ready(function(){
            refresh_data();
        });

    </script>
    </body>
</html>
